<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miracle.module.tcc.demo.inventory.server.dao.InventoryDao">
    
    <resultMap id="inventoryResultMap" type="Inventory">
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="available_num" property="availableNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
	
	<insert id="createInventory" parameterType="Inventory"> 
        insert into public.demo_inventory(product_id, available_num, create_time, update_time) 
        values(#{productId},#{availableNum},#{createTime},#{updateTime})  
    </insert>
    
    <select id="getInventoryById" parameterType="int" resultMap="inventoryResultMap">
    	select * from public.demo_inventory where product_id = #{productId}
    </select>
    
    <update id="decInventoryAvailableNum" parameterType="java.util.Map">
    	update public.demo_inventory set available_num = available_num - #{delta}, update_time = #{updateTime}
    	where product_id = #{productId} and available_num >= #{delta}
    </update>
    
    <update id="incInventoryAvailableNum" parameterType="java.util.Map">
    	update public.demo_inventory set available_num = available_num + #{delta}, update_time = #{updateTime}
    	where product_id = #{productId}
    </update>
</mapper>